/*all html*/

html {
  background-color: beige;
  font-family: 'Lucida Sans', sans-serif;
}

h1 {
  font-family: "titan one", cursive;
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(6, 6, 83)
}
.banner{
  width: 60%;
  margin: 0px 20% 3rem 20%;
  height: 150px;
  background-image: url('/config/img/banner.jpg');
  background-size:100% 150px;
  background-repeat: no-repeat;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3rem;
  font-size: large;
  font-family: 'Lucida Sans', sans-serif;
  text-decoration: none;
}
a{
  text-decoration: none;
  color:whitesmoke;
  background-color: rgb(49, 120, 196);
  border: 1px solid navy;
  padding: 8px;
}
a:hover{
  background-color: rgb(119, 157, 199);
}
#rating {
  width: 150px
}
textarea {
  width:80%;
}
textarea:hover {
  background-color: beige;
}
footer {
  text-align: center;

}

/*index.html*/

#searchfield {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: rgba(249, 238, 116, 0.783);
  padding: 10px;
  margin: auto;
  height: 15%;
  justify-content: space-between;
  border: 2px solid black;
}

 #recipesdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    background-color: rgba(249, 238, 116, 0.783);
    margin: 25px auto 0px auto;
    height: 15%;
    justify-content:space-between;
    border: 2px solid black;
  }
h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
.recipeinput {
  margin:.5rem;
  align-content: center;
}

#submitbutton {
  width: 100px;
}

input {
  font-size: 1rem;
  font-family: 'PT Serif', serif;
  justify-content: center;
  width:80%;
}
input:hover {
  background-color: beige;
}
.box:hover{
  background-color: beige;
}
.box{
  margin: .5rem;
}
#new-ingredients {
  overflow:scroll;
}
#instructions {
  overflow:scroll;
}
/*all-recipes.html*/

tr {
  border: solid;
  width: 90%;
  margin: 2rem auto;
}

table {
  text-align: left;
  margin:auto;
}

th {
  padding: 1rem;
  border-right: solid;
}
td {
  padding: 1rem;
  overflow: scroll;
  border-right: solid;
}

#remove{
  font-size: smaller;
}

/*conversion.html*/

h2{
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 2rem;
  padding: 0 2rem;
}

.list-head{
  font-weight: bold;
  padding: 1rem;
}

#conv1{
  background-color: whitesmoke;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  
}
#conv2{
  background-color: whitesmoke;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  
}
#conv3{
  background-color: whitesmoke;
  width: 20%;
  margin: 2rem auto 4rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}

.conv-p{
  display: block;
  margin: auto;
  text-align: center;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', sans-serif;
  padding-top: .5rem;
  padding-bottom: 1rem;
}
.conversion #tsp li{
  border-left: none;
}

.conversion #gallon li{
  border-right: none;
}
.conversion #tsp-ml1 li{
  border-left: none;
}
.conversion #oz-g1 li{
  border-left: none;
}

.conversion li{
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-left: .5px solid black;
  border-top: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding: .5rem;
  font-family:'Franklin Gothic Medium', sans-serif;
}

.conversion li:hover{
  background-color: rgba(254, 254, 0, 0.598);
}
#tsp-ml1, #tsp-ml2, #oz-ml1, #oz-ml2{
  background-color: rgba(159, 159, 219, 0.574);
}

/*about-us.html*/

#summary{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.team-member h3{
  font-family:'titan one', cursive; 
}
img{
  margin-right: 20px;
  height: 100px;
  width: 100px;
}
.team-member{
  margin-top: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
}

/* .recipe-column:hover {
    background-color: rgba(254, 254, 0, 0.598);
  } */
  #recipeData tr:hover {
    background-color: rgba(254, 254, 0, 0.598);
  }

  #recipeData th:hover {
    background-color: rgb(238, 121, 121); 
    font-weight: bold;
  }

  #allrecipes{
    width:auto;
    margin-left: 25px;
    margin-right:25px;
  }
  #allrecipes thead{
    background-color: rgba(251, 251, 53, 0.6);
    font-size: 1rem;
    
  }
  #recipeData tr{
    height:100px; 
  }

/* div {
  display: flex;
  justify-content: space-around;
  column-count: 4;
  width:100%;
  column-width: 250px;
} */

@media screen and (max-width: 600px) {
  .nav-header {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  li {
    padding: 20px; 
  }
  #food {
    table-layout:fixed;
    width: 375px;
    font-size: .7rem; 
    overflow-wrap: break-word;
  }
}
