html {
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: "titan one", cursive;
  text-align: center;
  font-size: 2rem;
  height: 200px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  

}
main {
  height: 700px;
}

footer {
  text-align: center;
  height: 300px;

}

#ingredients, #instructions{
  height: 300px;
  width: 300px; 
}


