/*ALL HTML ============================================================================================*/

html {
  background-color: beige;
  font-family: 'Lucida Sans', sans-serif;
}
h1 {
  font-family: 'titan one', cursive;
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(6, 6, 83);
}
.banner {
  width: 60%;
  margin: 0px 20% 3rem 20%;
  height: 150px;
  background-image: url('/config/img/banner.jpg');
  background-size: 100% 150px;
  background-repeat: no-repeat;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3rem;
  font-size: large;
  font-family: 'Lucida Sans', sans-serif;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(49, 120, 196);
  border: 1px solid navy;
  padding: 8px;
}
a:hover {
  background-color: rgb(119, 157, 199);
}
footer {
  width:100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

/*INDEX.HTML ============================================================================================*/

#search-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: rgba(249, 238, 116, 0.783);
  padding: 10px;
  margin: auto;
  height: 15%;
  justify-content: space-between;
}
#recipe {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
  background-color: rgba(249, 238, 116, 0.783);
  margin: 25px auto 0px auto;
  height: 15%;
  justify-content: space-between;
}
#recipeform{
  width:1000px;
  margin:auto; 
}
#search-box h3, #recipe h3 {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 750;
  margin: auto;
  width: 200px;
  padding-bottom: 10px;
}
#search-box div, #recipe div{
  text-align: center;
  margin-bottom:10px;
}
.recipeinput, .box {
  margin: 0.5rem;
  align-content: center;
  width: 200px;
}
#submitbutton {
  width: 100px;
  margin-top:10px;
}
input {
  font-size: 1rem;
  font-family: 'PT Serif', serif;
}
input:hover {
  background-color: beige;
}
.box:hover {
  background-color: beige;
}
#new-ingredients, #instructions {
  height: 100px;
  overflow: scroll;
  font-family: 'PT Serif', serif;
  font-size: 16px;
}

/*ALL-RECIPES.HTML ====================================================================================*/

#allrecipes {
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#recipe-head{
  background-color: rgba(109, 207, 82, 0.573);
  font-size: 1rem;
}
.recipe-header {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  padding: 1rem;
  width: 170px;
  font-weight: bold;
  padding: 2rem auto;
  border: 1px solid;
}
#recipe-rate {
  text-align: center;
  font-size: 34px;
}
#recipeData td {
  border-spacing:0;
  display: inline-block;
  height: 200px;
  width: 170px;
  padding: 1rem;
  overflow: scroll;
  line-height: 1.25rem;
  border: 1px solid;
}
#recipeData tr:hover {
  background-color: rgba(109, 207, 82, 0.155);
}
.recipe-row button {
  font-size: smaller;
  text-align: center;
  display: block;
  margin: auto;
}
button:hover {
  font-weight: bold;
  background-color: yellow;
}

/*CONVERSION.HTML =======================================================================================*/

h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 2rem;
  padding: 0 2rem;
}

.list-head {
  font-weight: bold;
  padding: 1rem;
}
#conv1 {
  background-color: whitesmoke;
  width: 60%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#conv2 {
  background-color: whitesmoke;
  width: 60%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
#conv3 {
  background-color: whitesmoke;
  width: 15%;
  margin: 2rem auto 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.conv-p {
  display: block;
  margin: auto;
  text-align: center;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.conversion #tsp li {
  border-left: none;
}
.conversion #gallon li {
  border-right: none;
}
.conversion #tsp-ml1 li {
  border-left: none;
}
.conversion #oz-g1 li {
  border-left: none;
}
.conversion li {
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-left: 0.5px solid black;
  border-top: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Franklin Gothic Medium', sans-serif;
}
.conversion li:hover {
  background-color: rgba(254, 254, 0, 0.598);
}
#tsp-ml1,
#tsp-ml2,
#oz-ml1,
#oz-ml2 {
  background-color: rgba(159, 159, 219, 0.574);
}

/*ABOUT-US.HTML =================================================================================*/

#summary {
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: .5px solid;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: aliceblue;
}
.team-member h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color:rgb(6, 6, 83);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  padding-right: 45px;
  width: 20%;
  margin: auto;
}
.member-description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 20px;
  width: 42%;
  margin: auto;
}
img {
  height: 130px;
  width: 130px;
  transition: transform .4s;
  padding-right: 60px;
  margin: auto;
}
img:hover {
  transform: scale(1.5);
}
.team-member {
  margin: 30px 20%;
  display: flex;
  justify-content: space-between;
  border: .5px solid;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: aliceblue;
}

/* MEDIA QUERY ====================================================================================== */

@media screen and (max-width: 600px) {
  .nav-header {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  li {
    padding: 20px;
  }
  #food {
    table-layout: fixed;
    width: 375px;
    font-size: 0.7rem;
    overflow-wrap: break-word;
  }
}
